@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --color: #dedede;
  --scColor: rgb(52, 49, 80);
  --prBgColor: rgba(52, 49, 80, 0.4);
  --scBgColor: rgba(79, 105, 122, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  background: url("./img/bg1.jpg");
  background-position: center;
  background-size: cover;
}

.nav-bar {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  background: var(--prBgColor);
  box-shadow: 0px 0px 3px 0.6px var(--color);
  color: var(--color);
}

.logo {
  text-align: center;
  margin: 0px 25px;
}

.logo i {
  font-size: 2em;
}

.logo::after {
  content: "Luftmensch";
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  color: var(--color);
}

.nav-pc {
  margin-left: auto;
  height: 100%;
}

.nav-pc > ul > li {
  padding: 15px 20px;
}

.nav-pc li {
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
}

.nav-pc li:hover {
  background: var(--scBgColor);
}

.parent {
  position: relative;
}

.parent > ul {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
  background: var(--prBgColor);
}

.parent li {
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid gray;
}

.parent:hover > .sub-menu {
  display: block;
}

.menu-btn {
  display: inline-block;
  font-size: 2em;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: 5px;
}

#toggle-side-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn 0.2s linear;
}

.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color);
  color: var(--scColor) !important ;
  padding: 50px 30px;
  width: 320px;
  max-width: 100%;
  font-size: 1.2em;
  transform: translateX(100%);
  transition: all linear 0.2s;
  opacity: 0;
}

.side-menu li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.side-menu .sub-menu li {
  margin-left: 10px;
  color: rgba(52, 49, 80, 0.8);
}
.side-menu .close-btn {
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Mobile & Tablet */
@media screen and (max-width: 63.9375em) {
  .nav-pc {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  #toggle-side-menu:checked ~ .overlay {
    display: block;
  }

  #toggle-side-menu:checked ~ .side-menu {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Mobile width < 740px */
/* @media screen and (max-width: 46.1875em) {
} */

/* Tablet 1024px > width  >= 740px */
/* @media screen and (max-width: 63.9375em) and (min-width: 46.25em) {
} */
